/* 前ページ共通 */
body {
    margin: 0;
    padding: 0;

}
header {
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4em;
    background: rgb(42, 75, 184);
  
}
.logotype {
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
}

@media screen  {
        nav{display: inline;}    
    }
/* .menu{
    display: flex;    */
}
.menu-photo{
    flex: 1;
}
.menu-text{
    flex: 2;
}
.menu_box{
         display: flex;
        list-style-type: none;   
        flex-direction: column; 
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: -600px 0 0 0;
        padding: 0.6em 0;
        text-align: center;
        background-color: rgb(42, 75, 184);
        box-shadow: 1px 0 6px rgba(0,0,0,.2);;
        z-index: 1;
        transition-duration: 0.5s;}    
.red{
    color: crimson;
}
.menu_item {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
  padding: 5px 12px;
   
}
.menu_item:hover{
        background-color: #AAA;
    } 
#menu_toggle {
    opacity: 0;
}
#menu_toggle:checked ~ .menu_btn>span {
    transform: rotate(45deg);
}
#menu_toggle:checked~.menu_btn>span::before {
    top: 0;
    transform: rotate(0);
    background: #ffffff;
}
#menu_toggle:checked~.menu_btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background: #ffffff;
}
#menu_toggle:checked~.menu_box {
    visibility: visible;
    left: 0;
    margin: 0;
    /* ↑マージンなぜ必要？ */
}
 .menu_btn {
    transition-duration: 0.25s;
 
    display: flex;
     position: relative; 
    bottom: 2px;
    font-weight: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;  
}   
.menu_btn span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;    
    
 }  
.menu_btn span::before {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    content:'';
    top: -8px;
    transition-duration: 0.25s;
    }
.menu_btn span::after{
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color:white;
        content: '';
        top: 8px;
        transition-duration: 0.25;

    }

footer{
    background-color: rgb(42, 75, 184);
    display: flex;
    justify-content: space-between;
}
.detail{
    margin-left: 10%;
    color: #e8e8e8;
}
.detail p{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin: 10% 0%;
}
footer ul{
    margin-right: 15%;
    list-style-type: none;
    display: flex;
  
}
footer li{
    margin: 8%;
     color: #ffffff; 
}
.footer-items{
    color: #ffffff;
}

.maintext{

}
.back{
    width: 100%;
}
.main-photo{
    position: relative;
    display: flex;

}
.text{
    position: absolute;
    font-size: 3em;
    text-align: center;
    justify-content: center;
    margin: 7% 43% 7% 43%;

    color: #e8e8e8;

}
h2{
    text-align: center;
    margin: 5%;
    font-size: 230%;
    color: rgb(42, 75, 184);
}

img {
    width: 300px;
    display: flex;
   
}
.gazou{
    margin: 0 0 0 50px;
}
.gazou2{
    margin: 0 50px 0 0px;
}
    
.undertitle{
    /* background-color: #AAA; */
    position: absolute;
    margin-top: 40px;
    font-weight: bold;
}

.maintitle2{
    /* background-color: aqua; */
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 0%;
    font-style: ;
    color: rgb(255, 255, 255);
}
.title2{
    justify-content: center;
    text-align: center;
    margin-top: 10%;
     display: block;
    display: flex;
    padding: 10%;
    justify-content: center;
   
    position: relative;
}
.maintitle{
    /* background-color: aqua; */
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 0%;
    font-style: ;
    color: rgb(42, 75, 184);
}
.about{
    background-color:rgb(42, 75, 184);
    margin-top: 15%;
    margin-right: 55%;
    margin-left: 10%;
}

p{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    margin: 0 10% 10% 10%
}

.hiyokan{
    display: flex;
    margin: 0% 15% 3% 15%;
    background-color: #ffe5ba;
   
}
.mozi{
    justify-content: center;
    margin-left: 3%;
}
.natukouen{
    display: flex;
    background-color: rgb(167, 216, 249);
    margin: 3% 15%;
   
}
.mozi2{
    justify-content: center;
    margin: 7% 15% 0 0;

}
.sinzinkouen{
        display: flex;
        margin: 3% 15%;
        background-color: hsl(286, 100%, 90%);
}
.mozi3{
    justify-content: center;
    margin: 11% 0% 0 5%;

}
.teikikouen{
    display: flex;
    margin: 3% 15% 5% 15%;
    background-color: #ffeaea;
}
.mozi4{
    justify-content: center;
    margin: 2% 7% 0 0;

}
.over1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffad2a;
    margin: 0 15% 0 ;

}
.sns{
    display: flex;
    
}
.logo{
    width: 60px;
    height: 60px;
    margin: 1%;
}
.logo:hover{
    cursor: pointer;
}
.kuwasii{
    display: flex;
    margin: 3% 30%;
    text-align: center;
}
p{
    margin: ;
}